// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0F67A5;
$yellow: #ffd500;
$orange: #E67E22;
$green: #0DC99D;
$gray: #999;
$light-gray: #EBF1F0;
$light-purple: #91A6FF;
$light-blue: #BBDAE6;
$purple: #9462B6;
$dark-blue: #182940;
$mint: #1DA185;
$pale-yellow: #FFF791;
