// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2B70BE;
$yellow: #FEB204;
$orange: #E67E22;
$green: #0DC99D;
$gray: #0E0000;
$light-gray: #EBF1F0;
$light-purple: #91A6FF;
$light-blue: #BBDAE6;
$purple: #9462B6;
$dark-blue: #062867;
$mint: #1DA185;


