// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #007bff;
$yellow: #fff800;
$orange: #ffab00;
$green: #0DC99D;
$light-gray: #999;
$gray: #868e96;
$purple: #6E00FF;
$pink: #bb00ff;
$blurp: #4E66F8;
$dark-blurp: #2c4af4;
