.container-booking-show {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.container-booking-show h2 {
  text-align: left;
}

.btn-back-to {
  border: 1px solid black;
  padding: 15px;
  margin: 30px;
  color: black;
}

.btn-back-to:hover {
  border: 2px solid black;
  color: black;
}
