.auto-margined {
      margin: 40px auto;
}


.booking-card-body{
  padding: 30px;
    margin-top: 0px;
    color: black;
    box-shadow: none;
}


.location-info{
  p{
     margin: 0px

  }
}


#listing-title{
  color: rgba(0,0,0,0.7);
}

.booking-card-subtitle{
    font-weight: bold;
    margin-top:15px;
    color: rgba(0,0,0,0.7);
  }

.card-subtitle {
  color: rgba(0,0,0,0.8);
}

.heavy {
  font-weight: 700;
}

