// Specific CSS for your home-page

.home-video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) !important;
}

.content {
  padding: 0 !important;
}
.container-content {
  color: black;
  // background-image: image-url(‘sky.jpg’);
  height: 100vh;
}

.container-content:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  top: -15px;
  height: 15px;
  background-image: image-url('sort-up.png');
  background-size: 12px 6px;
  background-repeat: repeat-x;

}

body {
  background-color: transparent;
}

.flight-search-form {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    button {
      border-radius: 5px;
    }
}

button.black-btn.home-btn {
  margin-top: 23px;
  padding: 20px;
  width: 230px;
}

.trip-type-selection button {
  background: none;
  border: none;
  padding: 0;
  font-family: 'Montserrat';
  font-weight: 600;
  width: 85px;
  color: white;
    &:active {
      color: black;

    }
}

.trip-row {
  display: flex;
  flex-grow: 1;
}

.container-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.input-label {
  margin-bottom: 0;
}

.form-control {
  padding: 30px;
  width: 100%;
}

label {
  height: 20px;
}

.container-home {
  padding: 50px;
  height: calc(100vh - 100px)
}

// .text-center {
//   background-color: #E6E4E6;
// }
.card-text {
  font-family: 'Montserrat';
  font-weight: 600;
  color: black;
}

.container-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h4.card-title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 25px;
  color: black;
}

.content {
  padding: 0 !important;
}
.card-group {
  margin: 5% 0px;
  // height: 50vh;
  // margin-top: 110px;
}

.home-input input {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.home-scroll {
  text-align: center;
  padding-top: 30px;
  text-shadow: 2px 2px 4px #000000;
}

.card-body {
   margin-top: 75px;
   color: black;
   //box-shadow: 5px 5px 5px #111723;
}

.text-center {
  background-color: #141314;
}
.card-body i {
  font-size: 40px;
  color: black;
}


.form-group label {
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
}

.home-card {
  background-color: white;
}

.card.text-center.home-card {
  // border-radius: 50px;
  margin: 20px;
}

.booking-form {
  padding: 4px 8px;
  border-radius: 5px;
}

.autocomplete {
  position: relative;
  display: inline-block;
  border-radius: 5px;

}

.autocomplete-result {
  color: white;
  border: 1px solid #27292B;
  font-size: 14px;
  font-family: 'Montserrat';
  padding: 0 0 3px 5px;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #27292B;
}

@media only screen and (max-width: 800px) {
  button.black-btn.home-btn {
    font-size: 11px;
    height: 62px;
  }
}
