// Specific CSS for your home-page

.home-video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

body {
  background-color: transparent;
}

.flight-search-form {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
    button {
      border-radius: 5px;
    }
}

button.black-btn.home-btn {
  margin-top: 23px;
  padding: 20px;
  width: 230px;

}

.trip-type-selection button {
  background: none;
  border: none;
  color: $light-gray;
  padding: 0;
  font-family: Quicksand;
  font-weight: 600;
  width: 85px;
    &:active {
      color: white;
    }
}

.trip-row {
  display: flex;
  flex-grow: 1;
}

.container-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.input-label {
  margin-bottom: 0;
}

.form-control {
  padding: 30px;
  width: 100%;
}

label {
  height: 20px;
}

.container-home {
  padding: 50px;
  height: calc(100vh - 100px)
}

// .text-center {
//   background-color: #E6E4E6;
// }
.card-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: black;
}

.container-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h4.card-title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 25px;
  color: $mint;
}

.container-content {
 // padding-top: 200px;
}
.card-group {
  margin: 5% 0px;
  // height: 50vh;
  // margin-top: 110px;
}

.home-input input {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.home-scroll {
  text-align: center;
  padding-top: 30px;
  text-shadow: 2px 2px 4px #000000;
}

.card-body {
   margin-top: 75px;
   color: white;
}

.text-center {
  background-color: #141314;
}
.card-body i {
  font-size: 40px;
  color: black;
}


.form-group label {
  color: #000000;
  font-family: Quicksand;
  font-weight: 600;
}

.home-card {
  background-color: transparent;
}

.card.text-center.home-card {
  border-radius: 20px;
  margin: 20px;
}
