  .container-login {
  width: 900px;
  text-align: center;
  margin-left: 275px;
  padding: 6% 0;
}
h2 {
  color: white;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 40px;
}

.form-inputs {
  color: white;
  font-size: 20px;
  margin-left: 220px;
}

.login-btn {
  color: black;
  border: 1px solid white;
  border-radius: 10px;
}

.login-btn:hover {
  color: black;
  background-color: white;
  border-radius: 0px;
  font-weight: bold;
}

.edit-form .form-group label {
  color: #000000;
}
