.flight_options {
  background-color: white;
  border-color:   #00FFFF;
  color: #000000;
  margin: 6px;
  padding: 5px;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  min-height: 150px;
  p {
    margin-bottom: 3px;
  }
}

.text-underline {
  text-decoration: underline;
}
