.card-profile-body {
  margin: 5px 15px 5px 15px;
}

.form-check-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#radio-black {
  color: black;
}

#radio-black-fst {
  color: black;
  margin: 0;
}

label.form-check-label {
  margin-bottom: 5px;
  padding: 5px;
}

.card.text-right {
  border-style: none;
}

.card {
  border-radius: 12px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $dark-blue;
    &:first-child {
  border-radius: calc(13px - 1px) calc(13px - 1px) 0 0;
  }
}

.trip-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2%;
}

.filter-box {
  padding: 30px 40px 30px 40px;
  border: 1px dashed black;
  margin: 2em;
}

h5.card-title {
  color: white;
}

