.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: transparent;
}

.card-header .action-item {
    padding-top: 0;
    padding-bottom: 0;
}

.action-item {
    display: inline-block;
    font-size: .875rem;
    cursor: pointer;
    color: #8492a6;
    background: transparent;
    border: 0;
    padding: .25rem;
    -webkit-transition: color .3s;
    transition: color .3s;
}

p#radio-align {
  margin-top: 0 !important;
}


