.container-signup {
  width: 900px;
  text-align: center;
  margin-left: 275px;
}

.btn-sign-up {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.btn-sign-up:hover {
  color: black;
  background-color: white;
  border-radius: 0px;
  font-weight: bold;
}
