<footer id="footer" class="footer footer-dark bg-gradient-primary footer-rotate mt-0">
  <div class="container">
      <div class="d-flex align-items-center justify-content-between ">
        <div class="footer-contact ">
          <h1 class="mr-3" id="milesx-logo">Miles<span style="color: #ffd500;" id="footer-x">X</span></h1>
          <address class="footer-contact__address mr-2">
            <a href="https://www.google.com/maps/place/FRii+Bali+Echo+Beach/@-8.653986,115.1282128,17z/data=!3m1!4b1!4m8!3m7!1s0x2dd238783a9f1a37:0x3224cdc2e92612b6!5m2!4m1!1i2!8m2!3d-8.6539913!4d115.1304015" title="Munduk Catu 32, 80361 Canggu, Bali, Indonesia" target="_blank" rel="external noopener" id="footer-address">Munduk Catu 32, 80361 Canggu, Bali, Indonesia</a>
          </address>
          <address class="footer-contact__address mr-2">
            <a href="mailto:nabilasiregar@tutanota.com" title="join@milesx.com" id="footer-address">join@milesx.com</a>
          </address>
          <address class="footer-contact__address mr-2">
            <a href="tel:+62 4551 7551" title="+62 4551 7551" id="footer-address">+62 4551 7551</a>
          </address>
        </div>
        <div class="footer-social ">
          <address class="footer-social__item justify-content-center justify-content-md-end mt-3 mt-md-0">
            <a href="https://www.tripadvisor.com/Attraction_Review-g190475-d5505910-Reviews-Chasing_Lights-Tromso_Troms_Northern_Norway.html" target="_blank" rel="external noopener">
              <img src="https://chasinglights.com/wp-content/uploads/2018/10/tripadvisor.svg" alt="">
            </a>
          </address>
          <address class="footer-social__item justify-content-center justify-content-md-end mt-3 mt-md-0">
            <a href="https://www.facebook.com/Nabila-Order-Coffee-Bot-110281430354358/" target="_blank" rel="external noopener">
              <img src="https://chasinglights.com/wp-content/uploads/2018/10/facebook.svg" alt="">
            </a>
          </address>
          <address class="footer-social__item justify-content-center justify-content-md-end mt-3 mt-md-0">
            <a href="https://www.instagram.com/ChasingLights/" target="_blank" rel="external noopener">
              <img src="https://chasinglights.com/wp-content/uploads/2018/10/instagram.svg" alt="">
            </a>
          </address>
          <address class="footer-social__item justify-content-center justify-content-md-end mt-3 mt-md-0">
            <a href="https://www.youtube.com/channel/UCTEEgsflzRdWN-b-CU6WGXQ" target="_blank" rel="external noopener">
              <img src="https://chasinglights.com/wp-content/uploads/2018/10/youtube.svg" alt="">
            </a>
          </address>
        </div>
      </div>
  </div>
</footer>

