

<div class="card form-home-card mb-5 px-3">
        <form style=""action="/miles_profiles">
          <div class="row py-4 px-3">
            <div class="col-lg-4  px-1">
              <label for="">From:</label>
              <input type="text" name="departure" placeholder="JFK New York" autocomplete="off" class="form-control shadow-0" id="depart">
            </div>
            <div class="col-lg-4 px-1">
              <label for="">To:</label>
              <input type="text" name="arrival" placeholder="LAX Los Angeles" autocomplete="off" class="form-control shadow-0" id="arrival">
              </div>
            <div class="col-lg-2">
              <label for="">Passengers:</label>
              <select title="Categories" data-style="" class="form-control" >
                  <option class="bs-title-option" value=""></option>
                  <option value="small">1 Traveller</option>
                  <option value="medium">2 Travellers</option>
                  <option value="large">3 Travellers</option>
                  <option value="x-large">4 Travellers</option>
                </select>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-end">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
      </form>

</div>
