
  <%= video_tag 'plane.mp4', class:"home-video", autoplay:true, muted:true, loop:true %>
<div class="container-home">
    <h1>MilesX</h1>
    <p>Make better use of your airmiles</p>
    <form class="d-flex justify-content-center mt-5 flex-column w-50 mx-auto" action="/miles">
      <div class="d-flex justify-content-center">
        <div class="form-group w-50 mr-5">
          <label for="departure" style="color: white;">From</label>
          <input type="text" name="departure" class="form-control" id="depart">
        </div>
        <div class="form-group w-50">
          <label for="arrival" style="color: white;">To</label>
          <input type="text" name="arrival" class="form-control" id="arrival">
        </div>

      </div>
      <button type="submit" id="submit-button" class="btn btn-dark d-flex justify-content-center mx-auto" style="border-radius: 5px; background-color: transparent; color: black;">Search Flights</button>
    </form>
  </div>
<br>
<br>
  <div class="card text-center">
    <div class="card-header mt-2">
      About
    </div>
    <div class="card-body">
      <h2 class="card-title">The secure way to sell unwanted or un-used miles</h2>
      <p class="card-text">Milex is a dedicated platform to allow buyers and sellers to seamlessly exchange airline miles in th safest way possible</p>
      <a href="#" class="btn btn-dark" style="border-radius: 5px; background-color: transparent; color: black;">Sell your miles</a>
    </div>
  </div>
  <br>
  <br>
  <div class="card text-center">
    <div class="card-header mt-2">
      Feedback
    </div>
    <div class="card-body">
      <h3 class="card-title">We want to hear what you have to say!</h3>
      <p class="card-text">feedback is essentail to the upkeep of our service, without our customers input we at MilesX will not be able to cater to your needs!</p>
      <a href="#" class="btn btn-dark" style="border-radius: 5px; background-color: transparent; color: black;">Submit Feedback</a>
    </div>
    </div>

<input type="text" id="airport-input">
