.black-btn {
  color: white;
  background-color: $blurp;
  border-style: none;
  font-family: $headers-font;
  font-weight: 600;
    &:hover {
      background-color: $dark-blurp;
    }
}

a.submit-btn {
  color: black !important;
}

.btn-transparent {
  font-family: $headers-font;
  font-weight: 600;
  color: white;
  border: none;
  background: transparent;
    &:hover {
      color: $gray;
    }
}


.profile-button {
  padding: 10px;
  background-color: transparent;
  border-color: $blurp !important;
  border-radius: 4px;
  text-align: center;
  margin: 13px;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-weight: bold;
}

.purple-btn {
  color: $blurp;
  border-color: $blurp;
  border: 1px solid $blurp;
  padding: 1em;
  border-radius: .4em;
    &:hover {
      background-color: $blurp;
      color: white;
      text-decoration: none;
    }
}

.editmiles-button {
   padding: 10px;
  background-color: #898efd;
  border-radius: 4px;
  text-align: center;
  margin: 13px;
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  min-height: 56px;
  background-color: #898efd;
  border-radius: 6px;
}

.hidden {
  opacity: 0;
}

.booking-btn {
  min-height: 65px;
}

.btn-pay-primary {
  background-color: #898efd;
  color: white;
}

// .btn-primary {
//   background-color: #898efd !important;
//   color: white !important;
//   border-color: #898efd !important;
// }

// .btn-outline-primary {
//   background-color: #898efd !important;
//   color: white !important;
//   border-color: #898efd !important;
// }

// .btn-t {
//   background-color: #898efd !important;
//   color: white !important;
//   border-color: #898efd !important;
// }
