.black-btn {
  color: white;
  background-color: #494ca2;
  border-style: none;
  font-family: $headers-font;
  font-weight: 600;
    &:hover {
      background-color: #8186d5;
    }
}

a.submit-btn {
  color: black !important;
}

.btn-transparent {
  font-family: $headers-font;
  font-weight: 600;
  color: white;
  border: none;
  background: transparent;
    &:hover {
      color: $gray;
    }
}


.profile-button {
  padding: 10px;
  background-color: #898efd;
  border-radius: 4px;
  text-align: center;
  margin: 13px;
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}
.editmiles-button {
   padding: 10px;
  background-color: #898efd;
  border-radius: 4px;
  text-align: center;
  margin: 13px;
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  min-height: 56px;
  background-color: #898efd;
  border-radius: 6px;
}

.hidden {
  opacity: 0;
}

.booking-btn {
  min-height: 65px;
}
