.black-btn {
  color: white;
  background-color: #494ca2;
  border-style: none;
  font-family: $headers-font;
  font-weight: 600;
    &:hover {
      background-color: #8186d5;
    }
}

a.submit-btn {
  color: black !important;
}

.btn-transparent {
  font-family: $headers-font;
  font-weight: 600;
  color: white;
  border: none;
  background: transparent;
    &:hover {
      color: $gray;
    }
}


.profile-button {
  padding: 10px;
  background-color: #898efd;
  border-radius: 4px;
  text-align: center;
  margin: 13px;
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}
