.link-login {
  color: #000000;
  border: 1px solid white;
  padding: 5px;
}

.link-login:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
}

.link-signup {
  color: white;
  border: 1px solid white;
  padding: 5px;
}

.link-signup:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
}

.link-forgot-password {
  color: white;
  border: 1px solid white;
  padding: 5px;
}

.link-forgot-password:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 5px;
}
