.navbar-lewagon {
  justify-content: space-between;
  background: #141314;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link-login {
  color: white;
}

.nav-link-login:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-link-miles {
  color: white;
  margin: 13px;
}

.nav-link-booking {
  color: white;
  margin: 20px;
}

.nav-link-miles:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-link-booking:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}


