.nav-css, .nav2-css {
  font-family: $headers-font;
  font-weight: 600;
}

a.nav-css {
  color: black !important;
  // text-transform: none !important;
    &:hover {
      color: #d7d1c9 !important;
    }
}

.uk-navbar-dropdown-nav>li>a {
  font-family: $headers-font !important;
}

a.nav2-css {
  color: white !important;
  // text-transform: none !important;
    &:hover {
      color: #d7d1c9 !important;
    }
}

.uk-navbar-container2 {
  background-color: #494ca2;
  border-bottom: 5px #c9d1d3;
}

.our-logo {
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px black;
}

.our-logo:hover {
  color: #d7d1c9;
  text-decoration: none;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0 !important;
}
